* {
  box-sizing: border-box;
}
.hidden {
  display: none;
}
html,
body {
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}
.list-button,
.list-button-check {
  outline: none;
  background: none;
  background-color: transparent;
  border: none;
}
.list-button:hover {
  background-color: hotpink;
}
.list-button-check:hover {
  background-color: chartreuse;
}
input::placeholder {
  font-family: "Noto Sans KR", sans-serif;
  color: white;
}
input[type="text"] {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 50px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid white;
  color: white;
}
input[class="todo-input"]::placeholder {
  font-family: "Kirang Haerang", cursive;
  color: white;
}
input[class="todo-input"] {
  font-size: 30px;
  font-family: "Kirang Haerang", cursive;
}
.logInAndOut {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vmin;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1vmin;
  font-size: 1.5vmin;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: all 100ms linear;
}
.logIn {
  position: absolute;
  top: 50%;
  left: 96%;
}
.logInAndOut:hover {
  border: white;
  outline: white;
  border-style: outset;
  border-color: white;
  border-image: initial;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  max-height: 100%;
  float: left;
  color: white;
}
body {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

body::-webkit-scrollbar {
  display: none;
}
#clock {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9vw;
  font-family: "Noto Sans KR", sans-serif;
}
form {
  font-family: "Castoro", serif;
}
#login-form {
  position: absolute;
  top: 46%;
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  font-family: inherit;
}
#login-form:focus {
  border: 3px red;
}
#greeting {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  font-family: "Noto Sans KR", sans-serif;
}
.fadeIn {
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#todo-form {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}
.todo-input {
  width: 350px;
  transition: width 2s;
}
.todo-input:focus {
  width: 400px;
}
#date {
  position: absolute;
  left: 40%;
  top: 14%;
  font-size: 3vw;
  margin: 0;
  font-family: "NanumSquare", sans-serif;
}
#todo-list {
  position: absolute;
  top: 55%;
  left: 28%;
  font-size: 25px;
  font-family: "Kirang Haerang", cursive;
  overflow: auto;
}
.animate-todo {
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    top: 45%;
    left: 28%;
  }

  to {
    top: 55%;
    left: 28%;
  }
}
#log-out {
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-50%, -50%);
}
#quote {
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  height: 150px;
  font-family: "Castoro", serif;
}
#weather {
  position: absolute;
  word-wrap: break-word;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-family: "Shadows Into Light", cursive;
  word-spacing: -1ch;
  width: 120px;
  height: 100px;
}
.city {
  margin: 2px;
}
.author {
  margin: 0;
}
.slashText {
  text-decoration: line-through;
  text-decoration-color: red;
}
.todo-box {
  margin-bottom: 8vh;
  margin: 0 auto;
  width: 45%;
  resize: both;
  height: 30vh;
  border: 2px solid rgba(255, 255, 255, 0.4);
  overflow-y: auto;
  border-radius: 2vmin;
  box-shadow: inset 0 0 50px 10px black;
  background-color: rgba(0, 0, 0, 0.4);
  transition: height 1s;
}
/* width */
.todo-box::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.todo-box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.todo-box::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
.amOrPm {
  position: absolute;
  top: 26%;
  left: 85%;
  font-size: 3vw;
}
.clockWithAmorPm {
  display: flex;
  margin-top: 70px;
  width: 50vw;
  height: 28vh;
  font-family: "NanumSquare", sans-serif;
}

@media (max-width: 600px) {
  #quote {
    font-size: 15px;
  }
  #clock {
    font-size: 90px;
  }
  .clockWithAmorPm {
    width: 80vw;
  }
  .amOrPm {
    font-size: 6vw;
    left: 90%;
  }
  #date {
    font-size: 30px;
    left: 30%;
    top: 17%;
  }
  #weather {
    left: 80%;
  }
  #greeting {
    font-size: 40px;
  }
  .logIn{
    display:none;
  }
}
@media (max-width: 500px) {
  #greeting {
    width: 300px;
  }
  #clock {
    font-size: 17vw;
  }
  .amOrPm {
    font-size: 6vw;
    left: 91%;
  }
  #weather {
    left: 70%;
    font-size: 20px;
  }
  #date {
    left: 25%;
    font-size: 7vw;
  }
  input[type="text"] {
    font-size: 25px;
    width: 220px;
  }
  .todo-input:focus {
    width: 230px;
  }
}
@media (max-height: 600px) {
  #greeting {
    display: none;
  }
  #todo-form {
    top: 50%;
  }
  #quote {
    display: none;
  }
  #weather {
    top: 17%;
  }
}
@media (max-height: 400px) {
  #clock {
    top: 23%;
  }
}
@media (max-height: 300px) {
  #clock {
    display: none;
  }
  #todo-form {
    top: 45%;
  }
}
