*{
    box-sizing: border-box;
}
.hidden{
    display: none;
}
html, body {
    margin: 0 auto; 
    height: 100%; 
    overflow: hidden
}
.list-button, .list-button-check{
    outline:none;
    background: none;
    background-color: transparent;
    border: none;
}
.list-button:hover{
    background-color: hotpink;
}
.list-button-check:hover{
    background-color: chartreuse;
}
input::placeholder{
    font-family: 'Kirang Haerang', cursive;
    color: white;
}
input[type='text']{
    font-family: 'Kirang Haerang', cursive;
    font-size:24px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid white;
    color: white;
}
.logInAndOut{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vmin;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1vmin;
    font-size: 1.5vmin;
    border: 2px solid rgba(255, 255, 255, 0.0);
    transition: all 100ms linear;
}
.logIn{
    position: relative;
    left:300px;
}
.logInAndOut:hover{
    border: white;
    outline: white;
    border-style: outset;
    border-color: white;
    border-image: initial;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    animation: fadIn 800ms ease-out;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    max-height: 100%;
    float: left;
    color: white;
}
body {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

body::-webkit-scrollbar{
    display: none;
}
#clock{
    position: absolute;
    top:12%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
}
form{
    font-family: 'Castoro', serif;
}
#login-form{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    font-family: inherit;
}
#login-form:focus{
    border: 3px red;
}
#greeting{
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-family: 'NanumSquare', sans-serif;
}
#todo-form{
    position: absolute;
    top:51%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}
.todo-input{
    width: 200px;
    transition: width 2s;
}
.todo-input:focus{
    width: 300px;
}
#date{
    font-size: 50px;
    margin-top: 20px;
}
#todo-list{
    position: absolute;
    top:55%;
    left:28%;
    font-size: 20px;
    font-family: 'Kirang Haerang', cursive;
    overflow: auto;
}
.animate-todo{
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      top:45%;
      left:28%;
    }
  
    to {
      top:55%;
      left:28%;
    }
  }
#log-out{
    position: absolute;
    top:90%;
    left:10%;
    transform: translate(-50%, -50%);
}
#quote{
    position: absolute;
    top:98%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    height:150px;
    font-family: 'Castoro', serif;
}
#weather{
    position: absolute;
    top:10%;
    left:90%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
    word-spacing: -1ch;
    width: 300px;
}
.city{
    margin:2px;
}
.author{
    margin:0;
}
.slashText{
    text-decoration: line-through;
    text-decoration-color: red;
}
.todo-box{
    margin-bottom: 8vh;
    margin: 0 auto;
    width: 45%;
    resize: both;
    height: 30vh;
    border: 2px solid rgba(255, 255, 255, 0.4);
    overflow-y: auto;
    border-radius: 2vmin;
    box-shadow: inset 0 0 50px 10px black;
    background-color: rgba(0, 0, 0, 0.4);
    transition: height 1s;
}
.todo-box:hover {
    height: 32vh;
}
/* width */
.todo-box::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
.todo-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
  
  /* Handle */
.todo-box::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}
.amOrPm{
    position:absolute;
    top:75%;
    left:97%;
    font-size: 50px;
}
.clockWithAmorPm{
    margin-top:70px;
    width: 600px;
    height:200px;
    font-family: 'NanumSquare', sans-serif;
}
